In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
#import dataset
dataset = pd.read_csv('dataset/cars.csv')
dataset

    annee  kilometrage  chevaux     marque   prix
0    2018        35000      150  Chevrolet  18000
1    2017        28000      130       Ford  16000
2    2019        40000      160     Toyota  20000
3    2016        22000      120      Honda  15000
4    2020        45000      170    Hyundai  21000
5    2017        42000      140     Toyota  19000
6    2016        36000      125       Ford  15000
7    2018        31000      155      Honda  20000
8    2019        48000      170  Chevrolet  22000
9    2020        38000      145    Hyundai  21000
10   2015        55000      120     Toyota  15000
11   2016        48000      110       Ford  14000
12   2017        60000      130      Honda  16000
13   2018        52000      140  Chevrolet  18000
14   2019        45000      150    Hyundai  17000

Preprocessing Data

In [4]:
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,-1]

In [5]:
X

    annee  kilometrage  chevaux     marque
0    2018        35000      150  Chevrolet
1    2017        28000      130       Ford
2    2019        40000      160     Toyota
3    2016        22000      120      Honda
4    2020        45000      170    Hyundai
5    2017        42000      140     Toyota
6    2016        36000      125       Ford
7    2018        31000      155      Honda
8    2019        48000      170  Chevrolet
9    2020        38000      145    Hyundai
10   2015        55000      120     Toyota
11   2016        48000      110       Ford
12   2017        60000      130      Honda
13   2018        52000      140  Chevrolet
14   2019        45000      150    Hyundai

In [6]:
Y

0     18000
1     16000
2     20000
3     15000
4     21000
5     19000
6     15000
7     20000
8     22000
9     21000
10    15000
11    14000
12    16000
13    18000
14    17000
Name: prix, dtype: int64

In [14]:
# Encoding text data for model input
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X['marque'] =  label_encoder.fit_transform(X['marque'])

In [25]:
X

    annee  kilometrage  chevaux  marque
0    2018        35000      150       0
1    2017        28000      130       1
2    2019        40000      160       4
3    2016        22000      120       2
4    2020        45000      170       3
5    2017        42000      140       4
6    2016        36000      125       1
7    2018        31000      155       2
8    2019        48000      170       0
9    2020        38000      145       3
10   2015        55000      120       4
11   2016        48000      110       1
12   2017        60000      130       2
13   2018        52000      140       0
14   2019        45000      150       3

In [26]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [27]:
x_train

    annee  kilometrage  chevaux  marque
14   2019        45000      150       3
10   2015        55000      120       4
5    2017        42000      140       4
7    2018        31000      155       2
8    2019        48000      170       0
6    2016        36000      125       1
1    2017        28000      130       1
9    2020        38000      145       3
4    2020        45000      170       3
3    2016        22000      120       2
13   2018        52000      140       0
12   2017        60000      130       2

In [29]:
regressor =  LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [31]:
y_pred = regressor.predict(x_test)
y_pred

array([18822.7571698 , 13781.23203907, 20636.85814565])

In [32]:
y_test

0     18000
11    14000
2     20000
Name: prix, dtype: int64

In [36]:
regressor.predict([[2018,23000,123,2]])

c:\Users\chadia\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([16256.729814])

In [51]:
# accuracy 
regressor.score(x_train,y_train)

0.8299109750092377

In [50]:
regressor.score(x_test,y_pred)

1.0